*.class
aau/android/AAUCampus_SFSDK1.3/bin/*
aau/android/SalesforceSDK/bin/*
aau/android/AAUCampus_SFSDK1.3/gen/*
aau/android/google-play-services_lib/bin/*
!.gitignore
aau/android/AAUCampus_SFSDK1.3/project.properties
